:root {
  --transparent-input-color: rgba(255, 255, 255, 0.699);
}

.modal-container {
  align-content: center;
  border: 0;
  border-radius: 5px;
  background-color: var(--white);
  height: calc(85vh);
  overflow-y: auto; /* autoscroll */
  background: transparent;
  cursor: inherit;
}

.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-container::backdrop {
  background-color: rgb(0, 0, 0);
  opacity: 85%;
}

.modal-container button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  background-image: url('../Library/Theme/create update confirm button.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: var(--button-shadow-hover);
}

input{
  background-color: var(--transparent-input-color);
}
select {
  background-color: transparent;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-value {
  background-color: var(--transparent-input-color);
}

select option {
  background-color: var(--transparent-input-color);
}

/* Custom scrollbar for Firefox */
/* select::-webkit-scrollbar {
  display: none;
} */

select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select, input, label, button, div, span, ul, img, option {
  cursor: url('../Library/Theme/cursor main.cur'), auto;
}